<div class="chart-pie-wrapper row">
	<div id="canvas-wrapper" class="col-xs-6">
		<canvas id="myChart" style="padding: 2em;">
			
		</canvas>
	</div>
	<div class="form-wrapper col-xs-6">
		<form action="#">
			<div class="row form-group" ng-repeat="(key, item) in chart.data">
			    <div class="col-xs-3">			    	
			    	<label 
			    		for="{{ key }}" 
			    		class="text-right">

			    		<span 
			    			class="circle"
			    			style="
				    			background-color:{{item.color}};
				    			display: inline-block;
								width: 1em;
								height: 1em;
								border-radius: 50%;
								">
			    		</span>
			    		{{ item.label }}
			    	</label>
			    </div>

			    <div class="col-xs-9">
			     	<input 
			     		type="number" 
			     		id="{{ key }}" 
			     		value="{{ item.value }}" 
			     		ng-model="chart.link.segments[key].value" 
			     		min="0" 
			     		class="form-control"
			     		ng-change="chart.update()" 
			     		required>
			    </div>
			</div>
			<div class="row callout warning" ng-if="chart.update_error">
				Ошибка, сумма всех элементов должна быть равна 100
			</div>
			<div class="row">
				
				<div class="save-wrapper pull-right">
					<button type="button" class="btn btn-primary" ng-click="chart.save()">
						Сохранить 
					</button>
				</div>
			</div>
		</form>
	</div>
</div>